:root {
    --main-txt-color : #000000;
    --main-dark-theme : #000000;
    --main-default-theme: aqua;
    --main-dark-theme-txt-color: #ffffff;
    --link-txt-color: red;
    --border-color: aqua;

    --article-box-background: #eeeeee;

}